OPENAI_API_KEY=<open-ai-key>
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=<langsmith-key>
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="RAG_LangGraph"
RAG_VALIDATE_GROUNDING=false